<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<system.net>
		<mailSettings>
			<smtp from="sender@gmail.com">
				<network host="smtp.gmail.com" password="jowsqpgqykzhlvne" port="587" userName="sbmabolo522@gmail.com" enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="52428800"/>
			</requestFiltering>
		</security>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<system.web>
		<compilation targetFramework="4.7.2" debug="true"/>
		<httpRuntime targetFramework="4.7.2"/>
		<!--<compilation targetFramework="4.0" debug="true">
      <assemblies/>
    </compilation>-->
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha"/>
			<add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=21.1460.41, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89"/>
		</httpHandlers>
		<profile defaultProvider="DefaultProfileProvider">
			<providers/>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers/>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers/>
		</roleManager>
	</system.web>
	<!-- The following section is only needed for IIS7 and up -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="MSCaptcha.captchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" resourceType="Unspecified"/>
			<add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=21.1460.41, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89"/>
		</handlers>
	</system.webServer>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	<system.web>
		<customErrors mode="Off"/>
		<pages>
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
			</controls>
		</pages>
	</system.web>
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" name="myCookie" timeout="19000"/>
		</authentication>
	</system.web>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<add value="/index.aspx/"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<connectionStrings>
		<!--<add name="Databaseko" connectionString="Data Source=p3nwplsk12sql-v04.shr.prod.phx3.secureserver.net;Initial Catalog=Mabolo_dbs;Persist Security Info=True;User ID=ph13723814995;Password=1021Alvin!"/>-->
		<!---->
		<add name="Databaseko" connectionString="Data Source=ALVINCLARKSON\PROGRAMMER;Initial Catalog=SangguniangBarangayMaboloOnlineRequestDocuments;Integrated Security=True"/>
	</connectionStrings>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="itext.commons" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.2.5.0" newVersion="7.2.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="itext.kernel" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.2.5.0" newVersion="7.2.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="itext.io" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-7.2.5.0" newVersion="7.2.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="itext.licensing.remote" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.5.13.3" newVersion="5.5.13.3"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Xml" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="itextsharp.xmlworker" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.5.13.3" newVersion="5.5.13.3"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="itext.licensekey" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
